<h1>Cadastro</h1>

<form>
  <mat-form-field class="field" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" value="" />
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail" value="" />
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Senha" value="" type="password" />
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <mat-label>Repita a senha</mat-label>
    <input matInput placeholder="Repita a senha" value="" type="password" />
  </mat-form-field>
  <button mat-raised-button color="primary">Cadastrar</button>
</form>
