<div class="container">
  <div class="header">
    <div class="user">
      <img src="/assets/images/dam.jpeg" alt="user" />
      <div class="box">
        <p>Renato Duarte</p>
        <p>12/08/2022</p>
      </div>
    </div>
    <div class="box">
      <p>Comida</p>
    </div>
  </div>

  <img
    src="https://img.itdg.com.br/tdg/images/blog/uploads/2017/07/shutterstock_413580649.jpg?w=1200"
    class="post"
  />
  <div class="likes">
    <mat-icon aria-hidden="false" aria-label="heart" style="color: red"
      >favorite</mat-icon
    >
    <p>100</p>
  </div>
  <p class="description">la la la</p>
</div>
