<div class="container" *ngFor="let post of posts | async">
  <div class="header">
    <div class="user">
      <img src="/assets/images/dam.jpeg" alt="user" />
      <div class="box">
        <p>Renato Duarte</p>
        <p>12/08/2022</p>
      </div>
    </div>
    <div class="box">
      <p>{{ post.categoria }}</p>
    </div>
  </div>

  <img
    src="{{ post.fotoURL }}"
    class="post"
  />
  <div class="likes">
    <mat-icon aria-hidden="false" aria-label="heart" style="color: red"
      >favorite</mat-icon
    >
    <p>{{ post.numLikes }}</p>
  </div>
  <p class="description">{{ post.texto }}</p>
</div>
